<div class="jumbotron">
  <div class="container">
    <h1><strong>BlocMetrics</strong></h1>
    <p><strong>An easy API tool which tracks user behavior on your website!</strong></p>
    <button class="btn btn-primary btn-lg"><%= link_to "", root_path %>Sign Up</button>
  </div>
</div>

<div class="container">
  <h2 id="header2">Coming Soon!</h2>
</div>